<h1>Héroe nuevo <small>Pepe</small></h1>
<div
    fxLayout="row"
    fxLayoutGap="40px"
    fxLayout.lt-md="column">
    <div
        fxFlex="50"
        fxLayout="column">
        <div
            fxLayout="row"
            fxLayoutGap="40px"
            fxLayout.lt-md="column"
            fxLayoutGap.lt-md="0px">
            <mat-form-field
                fxFlex="100">
                <mat-label>Super héroe</mat-label>
                <input
                    matInput 
                    type="text"
                    required>
            </mat-form-field>
            <mat-form-field
                fxFlex="100">
                <mat-label>Alter ego</mat-label>
                <input
                    matInput 
                    type="text"
                    required>
            </mat-form-field>            
        </div>
        <mat-form-field
            fxFlex="100">
            <mat-label>Primera aparición</mat-label>
            <input
                matInput 
                type="text"
                required>
        </mat-form-field>  
        <mat-form-field
            fxFlex="100">
            <mat-label>Persoanajes</mat-label>
            <input
                matInput 
                type="text"
                required>
        </mat-form-field>
        <mat-form-field
            fxFlex="100">
            <mat-label>Creador</mat-label>
            <mat-select required="">
                <mat-option
            *ngFor="let creador of creadores" 
            [value]="creador.id">
                    {{ creador.id }}
                </mat-option>
            </mat-select>
        </mat-form-field> 
        <mat-form-field
            fxFlex="100">
            <mat-label>Imagen</mat-label>
            <input
                matInput 
                type="url"
                required>
        </mat-form-field>         
    
        <button
            mat-raised-button
            color="primary">
            <mat-icon>edit</mat-icon>
            Añadir
        </button>
    </div>
    <div
        fxFlex="50">
        <img [src]="heroe |imagen">
    </div>

    <br>
</div>