<div fxLayout="column">
    <div>
        <h1>Buscador de Héroes</h1>
        <mat-divider></mat-divider>
    </div>
    <div fxLayout="column">
        <mat-form-field>
            
            <input type="text"
                   placeholder="Superhéroe"
                   aria-label="Superhéroe"
                   matInput
                   [(ngModel)]="termino"
                   [matAutocomplete]="auto"
                   (input)="buscando()">
            <mat-autocomplete 
                autoActiveFirstOption 
                #auto="matAutocomplete"
                (optionSelected)="opcionSelecionada( $event )">
              <mat-option *ngFor="let heroe of heroes" [value]="heroe">
                {{ heroe.superhero }}
              </mat-option>
              <mat-option 
                *ngIf="heroes.length === 0 && termino.trim().length > 0"
                value="">No se encontro "{{ termino }}"</mat-option>
            </mat-autocomplete>
          </mat-form-field>
    </div>
</div>

<!-- <pre>{{ heroeSeleccionado | json }}</pre> -->

<div
    *ngIf="heroeSeleccionado" 
    fxLayout="row wrap"
    fxLayoutAlign="center"
    fxLayoutGap="20px">
    <div
        fxFlex.gt-lg="40"
        fxFlex.gt-md="50"
        fxFlex.gt-sm="70"
        fxFlex.gt-xs="90">
        <app-heroe-tarjeta [heroe]="heroeSeleccionado"></app-heroe-tarjeta>    
    </div>
   

</div>

